%{ for instance in instances ~}
Host ${instance.name} ${instance.id}
    User admin
    ProxyCommand ${proxy_command_script} ${instance.id} %r
    StrictHostKeyChecking no
    UserKnownHostsFile /dev/null
%{ endfor ~}
